

body {
    background-color: #D9D9D9; /* Fondo de pantalla gris claro */
}

.form-control {
    background-color: #777777; /* Fondo del campo de búsqueda blanco */
    border: 1px solid #777777; /* Borde del campo de búsqueda */
}
.form-control::placeholder {
    color: #f0e6e6; /* Color del texto del placeholder */
}

.vertical-divider {
    height: 40px; /* Altura del divisor */
    border-left: 2px solid #0c0b0b; /* Borde izquierdo para crear la barra vertical */
    margin: 0 10px; /* Espaciado alrededor del divisor */
}

.nav-buttons {
    background-color: #6c757d; /* Color de fondo de los botones */
    color: white; /* Color del texto en los botones */
    padding: 10px;
    border: none;
    border-radius: 4px;
    text-align: center;
    white-space: nowrap; /* Evitar que el texto se divida en varias líneas */
    margin: 2px; /* Espacio entre los botones */
    width: 220px; /* Ancho inicial de los botones */
    height: 50px; /* Alto inicial de los botones */
}
.nav-buttons:hover {
    background-color: #5a6268; /* Color de fondo cuando se pasa el mouse por encima */
}
.nav-container {
    display: flex;
    flex-wrap: wrap; /* Permite que los botones se ajusten y envuelvan automáticamente */
    gap: 2px; /* Espacio entre los botones */
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .nav-buttons {
        width: 100%; /* Los botones ocuparán el 100% del contenedor en pantallas pequeñas */
        height: auto; /* Ajusta el alto automáticamente */
    }
}


/* Estilo del submenú */
.dropdown-menu {
    display: none; /* Oculto por defecto */
    position: absolute; /* Alineación vertical al botón */
    top: 100%; /* Aparecer justo debajo del botón */
    left: 0;
    background-color: #6c757d; /* Color de fondo igual a los botones */
    border-radius: 4px;
    padding: 0; /* Elimina el padding */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100px; /* Ancho del submenú */
    z-index: 1000; /* Asegura que el submenú esté sobre otros elementos */
}

.dropdown-menu .dropdown-item {
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: block;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #5a6268; /* Mismo color de hover que los botones */
}

.dropdown:hover .dropdown-menu {
    display: block; /* Muestra el submenú al pasar el mouse sobre el botón */
}
/* Estilos responsivos */
@media (max-width: 768px) {
    .dropdown {
        width: 100%; /* Los botones ocuparán el 100% del contenedor en pantallas pequeñas */
        height: auto; /* Ajusta el alto automáticamente */
    }
}



/* Estilos para la categoría cuando se selecciona */
.dropdown-item:hover,
.dropdown-item:focus,
.dropdown-item.active {
    background-color: #3d93da; /* Cambia este color por el que prefieras */
    color: white; /* Para mantener el texto en blanco */
}


/* Estilos por defecto */
.buttons-container {
    display: flex;
    flex-wrap: wrap; /* Permite que los botones se ajusten en varias líneas */
}

/* Estilos para los botones */
.nav-buttons {
    background-color: #6c757d; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 10px;
    border: none;
    border-radius: 4px;
    text-align: center;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    margin: 2px; /* Espacio entre los botones */
    width: 215px; /* Ancho inicial de los botones */
    height: 50px; /* Alto inicial de los botones */
}

.nav-buttons:hover {
    background-color: #5a6268; /* Color de fondo cuando se pasa el mouse por encima */
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .buttons-container .nav-buttons {
        display: none; /* Oculta todos los botones */
    }

    .buttons-container .nav-buttons#btnCategorias {
        display: block; /* Muestra el botón de todas las categorías */
        position: fixed; /* Mantiene el botón en una posición fija */
        left: 0; /* Alineación a la izquierda */
        width: 100%; /* Ancho completo del contenedor para facilitar el acceso */
        z-index: 1000; /* Asegura que el botón esté sobre otros elementos */
        background-color: #6c757d; /* Color de fondo */
        color: white; /* Color del texto */
        border: none; /* Sin borde */
        padding: 10px; /* Espaciado interno */
        text-align: center; /* Centra el texto */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Sombra para mejor visibilidad */
        margin-top: 20px; /* Ajusta este valor al alto del navbar para asegurar que el botón esté debajo del navbar */
    }
}


/* Para el submenú de categorías */
.dropdown-menu {
    display: none; /* Ocultarlo por defecto */
}

.dropdown-menu.show {
    display: block; /* Muestra el submenú */
}
.carousel-item img {
    width: 100%;
    height: 125px; /* Altura fija del carrusel */
    object-fit: cover; /* Ajusta la imagen al contenedor, priorizando el ancho */
    margin-top: 20px; /* Ajusta el valor según la distancia que desees */
}

.container .row {
    justify-content: center; /* Centra las cards */
    gap: 1px; /* Espacio entre las cards */
}


.container {
    max-width: 1200px;
}

.card {
    position: relative;
    display: block;
    overflow: hidden;
    text-decoration: none;
    background-color: #777777; /* Color de fondo verde */
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 190px; /* Ancho de la tarjeta */
    height: 275px; /* Altura de la tarjeta */
    margin: 5px;
}

.card-img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 55%; /* Ocupa la mitad inferior de la tarjeta */
    overflow: hidden;
    border-top-left-radius: 50% 50px; /* Semicírculo en la parte superior */
    border-top-right-radius: 50% 50px; /* Semicírculo en la parte superior */
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.card-body {
    padding: 10px;
    text-align: center;
    background-color: #777777;
    color: white;
}

.card-text {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 0;
}

.card:hover {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
}

.card:active {
    transform: translateY(2px);
}

/* Estilo para el navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #D9D9D9;
    z-index: 1000; /* Asegúrate de que esté por encima de otros contenidos */
}

/* Estilo para el contenido principal */
.main-content {
    margin-top: 65px; /* Ajusta según la altura del navbar */
    padding: 1rem; /* Espaciado adicional para el contenido */
}



/* aqui inicia los estilos para el formulario de inicio de sesion */
/* aqui inicia los estilos para el formulario de inicio de sesion */
/* Superposición transparente */
/* Superposición transparente */
.login-overlay {
    position: fixed;
    top: 110px; /* Ajusta según la altura del navbar */
    right: 0; /* Alinea el contenedor a la derecha */
    width: 35%;/* Ancho */
    height: 82%;/* Alto */
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro con transparencia */
    display: flex; /* Cambiado de none a flex */
    justify-content: center; /* Centra el formulario horizontalmente */
    align-items: center;
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}

/* Contenedor del formulario */
.login-form-container {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
    max-height: 98%; /* Asegura que el contenedor del formulario no se salga de la superposición */
    /*overflow-y: auto; /* Habilita el scroll interno si el contenido del formulario excede la altura */
    margin-right: 20px; /* Ajusta la separación del formulario respecto al borde derecho */
}

/* Botón de cierre */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
    color: #440cdf;
}

.close-btn:hover {
    color: #ff0000; /* Cambia el color al pasar el mouse */
}

/* aqui termina los estilos para el formulario*/
/* aqui inicia  los estilos para el formulario de crear cuenta */
/* Superposición transparente para el formulario de registro */
.register-overlay {
    position: fixed;
    top: 110px; /* Ajusta según la altura del navbar */
    right: 0; /* Alinea el contenedor a la derecha */
    width: 35%; /* Ancho */
    height: 82%; /* Alto */
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro con transparencia */
    display: flex; /* Cambiado de none a flex */
    justify-content: center; /* Centra el formulario horizontalmente */
    align-items: center;
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}

/* Contenedor del formulario */
.register-form-container {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
    max-height: 98%; /* Asegura que el contenedor del formulario no se salga de la superposición */
    margin-right: 20px; /* Ajusta la separación del formulario respecto al borde derecho */
    overflow-y: auto; /* Habilita el scroll interno si el contenido del formulario excede la altura */


    
}

.register-form-container::-webkit-scrollbar {
    display: none;  /* Oculta el scroll en Chrome, Safari y Edge */
}


/* Botón de cierre */
#closeRegisterBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
    color: #440cdf;
}

#closeRegisterBtn:hover {
    color: #ff0000; /* Cambia el color al pasar el mouse */
}

/* aqui termina los estilos para el formulario de crear cuenta*/

/* a qui inicia los Estilos para el formulario de restablecimiento de contraseña */
/* Estilos para el formulario de restablecimiento de contraseña */
.reset-overlay {
    position: fixed;
    top: 120px; /* Ajusta según la altura del navbar */
    right: 0; /* Alinea el contenedor a la derecha */
    width: 35%; /* Ancho */
    height: 73%; /* Alto */
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro con transparencia */
    display: none; /* Cambiar a flex cuando se muestre */
    justify-content: center; /* Centra el formulario horizontalmente */
    align-items: center;
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}

/* Contenedor del formulario */
.reset-form-container {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
    max-height: 98%; /* Asegura que el contenedor del formulario no se salga de la superposición */
    margin-right: 20px; /* Ajusta la separación del formulario respecto al borde derecho */
}

/* Botón de cierre */
#closeResetBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
    color: #440cdf;
}

#closeResetBtn:hover {
    color: #ff0000; /* Cambia el color al pasar el mouse */
}

/* aqui termina Estilos para el formulario de restablecimiento de contraseña */

/* Inicia los estilos para el formulario de ingreso de nueva contraseña */
.new-password-overlay {
    position: fixed;
    top: 120px; /* Ajusta según la altura del navbar */
    right: 0; /* Alinea el contenedor a la derecha */
    width: 35%; /* Ancho */
    height: 73%; /* Alto */
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro con transparencia */
    display: none; /* Cambiar a flex cuando se muestre */
    justify-content: center; /* Centra el formulario horizontalmente */
    align-items: center;
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}

/* Contenedor del formulario */
.new-password-form-container {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
    max-height: 98%; /* Asegura que el contenedor del formulario no se salga de la superposición */
    margin-right: 20px; /* Ajusta la separación del formulario respecto al borde derecho */
}

/* Botón de cierre */
#closeNewPasswordBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
    color: #440cdf;
}

#closeNewPasswordBtn:hover {
    color: #ff0000; /* Cambia el color al pasar el mouse */
}
/* Termina los estilos para el formulario de ingreso de nueva contraseña */
